@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
/* Fonts */
*
{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* selector de grupo */
main
{
    background: url(../img/fondo-main/fondo.jpg);
}

header img
{
    width: 100%;
    height: auto;
}

footer
{
    background-color: rgb(0, 200, 255);
    display: flex;
    justify-content: space-around;
}
    footer ul li
    {
        list-style-type: none;
    }
        footer ul li a
        {
            text-decoration: none;
        }
    footer div{
        display: flex;
        align-items: center;
    }
        footer div a img
        {
            width: 50px;
            height: 50px;
        }
/* selector de clase */
.padding-20px{
    padding-left: 20px;
}

.margin-right-300px{
    margin-right: 300px;
}

.margin-bottom-5px{
    margin-bottom: 5px;
}

.botonera
{
    background-color: rgb(65,154,177);
}
.botonera a{
    color: rgb(255, 255, 255);
}
.botonera a:hover{
    color: rgb(24, 24, 24);
}

.Footer
{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.contactanos{
   display: flex; 
   justify-content: space-around;
}

.Logo-contactos
{
    width: 50px;
    height: 50px;
}

.Logos-editoriales
{
    width: 150px;
    height: 150px;
}

.white
{
    font-size: 3em;
    color: aliceblue;
    text-align: center;
}

.lt-blancas{
    color: aliceblue;
}

.section-index-1
{
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.News
{
    background-color: rgb(224,200,136);
    width: auto;
    height: auto;
    padding: 20px;
    margin: 10px;
    border: dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.productos-destacados
{
    background-color: blue;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.productos-destacados figure
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(182, 99, 250);
}
.img
{
    width: 250px;
    height: 350px;
}

.mangas{
    width: 300px;
    height: 425px;
}

.pag-productos{
    display: flex;
    padding-top: 30px;
}

.en-venta{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
}

.en-venta figure{
    background-color: #1629fa;
    border-style: inset;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quienes-somos{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.dp-block{
    display: block;
}

.tx-center{
    text-align: center;
}

.links{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.editoriales{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}



.tabla {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

.tabla td, .tabla th{
    border: 1px solid rgb(10, 8, 8);
    padding: 8px;
}

.tabla tr:nth-child(even){background-color: #7b86ff;}

.tabla tr:nth-child(odd){background-color: #edff95;}

.tabla tr:hover {background-color: #ddd;}

.tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: rgb(226, 226, 226);
}


@media (width < 768px){
    .Footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prueba{
        display: flex;
    }
    table tr th,td{
        font-size: 0.9em;
    }

    .white{
        font-size: 1.5em;
    }

    .section-index-1{
        flex-direction: column;
    }

    .productos-destacados{
        flex-direction: column;
    }

    .none{
        display: none;
    }

    .editoriales{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "ivrea ivrea panini panini"
        ". ovni ovni .";
    }

    #ivrea{
        grid-area: ivrea;
    }

    #panini{
        grid-area: panini;
    }

    #ovni{
        grid-area: ovni;
    }
}

@media (width < 1660px){
    .en-venta {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (width < 1130px){
    .en-venta {
        grid-template-columns: repeat(2,1fr);
    }
}