

.Logos-editoriales
{
    width: 150px;
    height: 150px;
}

.quienes-somos{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.editoriales{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.nosotros{
    display: flex;
    align-items: center;
    background-color: $b-destacados-color;
    padding: 30px;
}