.lt-blancas{
    color: $color-main;
}

.pag-productos{
    display: flex;
    padding-top: 30px;
}

.en-venta{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    figure{
        background-color: $b-section-color;
        border-style: inset;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.mangas{
    width: 300px;
}

.tabla {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    td, .tabla th{
        border: 1px solid rgb(10, 8, 8);
        padding: 8px;
    }
    tr:nth-child(even){background-color: #7b86ff;}
    tr:nth-child(odd){background-color: #edff95;}
    tr:hover {background-color: #ddd;}
    th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: rgb(226, 226, 226);
    }
}

.buscador{
    background-color: $b-destacados-color;
    height: 300px;
    margin: 30px;
    padding: 30px;
}