//variables globales

//colores
$b-main-color:rgb(65,154,177);
$b-section-color:blue;
$b-news-color:rgb(224,200,136);
$b-destacados-color:rgb(182, 99, 250);
$color-main:aliceblue;

//fonts
$mainfont:'Open Sans', sans-serif;