//variables globales

//colores
$b-main-color:rgb(24, 10, 130);
$b-section-color:rgb(29, 32, 45);
$b-news-color:rgb(100, 98, 95);
$b-destacados-color:rgb(184, 182, 186);
$color-main:aliceblue;

//fonts
$mainfont:'Open Sans', sans-serif;